.cardImg {
	margin-top: 2rem;
	height: 50%;
	width: 70%;
	border-radius: 8px;
}

.card {
	background-color: #d4d3d1;
	border-radius: 10px;
	padding-bottom: 2rem;
	margin-bottom: 2rem;
}

.star {
	width: 8%;
	height: 8%;
}

.details {
	margin-right: 10px;
}
