.formContainer {
	margin-bottom: 15px;
}

.buttonLeft,
.buttonRight {
	padding: 0.5rem;
	border-radius: 5px;
	border-width: 1px;
	background-color: #d4d3d1;
	color: black;
}

.buttonLeft:hover,
.buttonRight:hover {
	padding: 0.5rem;
	border-radius: 5px;
	border-width: 1px;
	background-color: grey;
	color: white;
}

.buttonLeft {
	margin-right: 7px;
}

.buttonRight {
	margin-left: 7px !important;
}

.checkboxContainer {
	position: absolute;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: white;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
